.hero {
    -fx-background-color: #303030;
}

.hero-inner {
    -fx-background-color: #515151;
    -fx-background-radius: 10;
}

.message {
    -fx-text-alignment: center;
}

.notaus-off {
    -fx-background-color: #000000;
}

.notaus-on {

}